@charset "UTF-8";
body {
  margin: 0 10%;
  padding: 5rem 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: black;
  background-color: white;
}

header {
  margin-bottom: 3rem;
}

/* Headings */
.heading, .h3, .h2, .h1 {
  text-transform: uppercase;
  line-height: 1.1em;
  font-weight: bold;
  margin: 1.5em 0 1em;
}

.h1 {
  font-size: 2em;
  color: black;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.h2 {
  font-size: 1.5em;
  color: black;
}

.h3 {
  font-size: 1.05em;
  color: grey;
}

/* ----------------------------- */
/* Índices */
.index nav {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  flex-wrap: wrap;
}
.index a {
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 3px;
  background-color: gainsboro;
}
.index a:link {
  color: black;
}
.index a:hover {
  background-color: teal;
}
.index a:hover h3 {
  color: white;
  font-weight: bold;
}
.index a h3 {
  margin: 0;
  font-size: 1.1em;
  line-height: 1.5em;
  font-weight: normal;
}

/* ----------------------------- */
/* Botones */
button {
  cursor: pointer;
}

.button {
  margin: 0;
  width: fit-content;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
}
.button a {
  display: block;
  box-sizing: border-box;
  padding: 7px 15px 5px;
  width: 100%;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.back {
  background-color: white;
  border-color: gainsboro;
  margin-bottom: 2rem;
}
.back:hover {
  background-color: teal;
  border-color: teal;
}
.back:hover a {
  color: white;
}
.back a {
  color: black;
}

/* ----------------------------- */
/* Accordion usando la etiqueta details */
details {
  margin-bottom: 15px;
  padding: 5px 15px;
  background-color: gainsboro;
  border-radius: 5px;
}
details summary {
  cursor: pointer;
  font-weight: bold;
}
details summary .details-summary {
  font-size: 1em;
  line-height: 1em;
  display: inline-flex;
  font-weight: bold;
  margin: 0;
  max-width: 90%;
}
details .details-subtitle {
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: normal;
  text-transform: uppercase;
}
details .details__example {
  padding: 1em;
  background-color: whitesmoke;
  border-radius: 0.3em;
}

/* ----------------------------- */
/* Listas */
ul {
  padding-left: 20px;
  list-style: square;
}
ul .li--details-exception {
  list-style-type: none;
  margin-left: -2em;
}
ul .li--indented {
  margin-left: 2em;
}

/* ----------------------------- */
/* Contenedores */
.code, .black {
  background-color: gainsboro;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
}

.black {
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin-top: 15px;
}

/* Clases para las palabras que representan código */
.gris {
  color: grey;
}

.etiqueta {
  color: dodgerblue;
}

.clase {
  color: goldenrod;
}

.llave {
  color: gold;
}

.identificador {
  color: lightgoldenrodyellow;
}

.atributo, .propiedad {
  color: lightskyblue;
}

.valor, .htmlColor {
  color: lightsalmon;
}

.valor-css {
  color: lightgreen;
}

.comentario {
  color: seagreen;
}

.variable {
  color: mediumorchid;
}

.hijo {
  margin-left: 15px;
}

.nieto {
  margin-left: 30px;
}

.biznieto {
  margin-left: 45px;
}

/* ----------------------------- */
/* Estilos para los atajos de teclado */
kbd {
  margin: 5px;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  background-color: black;
  border-radius: 50px;
}

/* ----------------------------- */
/* Paleta de colores HTML */
#paletaColoresHTML {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  padding-top: 15px;
}

#paletaColoresHTML > div {
  font-size: 1rem;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid black;
}

/* ------------------------------------- */
/* Contenido en columnas */
.col-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 1em;
}
.col-container .two-cols {
  width: 50%;
}
.col-container .three-cols {
  width: 33.3333333333%;
}

@media only screen and (max-width: 600px) {
  .col-container {
    flex-direction: column;
  }
  .col-container .two-cols {
    width: 100%;
  }
}
@media only screen and (min-width: 1400px) {
  .two-cols {
    width: 25%;
  }
}
/* ------------------------------------- */
/* Galería de card con imagen y texto */
.gallery {
  display: flex;
  justify-content: center;
  gap: 0.7em;
  flex-wrap: wrap;
}
.gallery__card {
  position: relative;
  background-color: white;
  box-shadow: 0 0 5px 1px grey;
  border-radius: 8px;
  max-width: 95px;
}
.gallery__img {
  border-radius: 7px 7px 0 0;
  width: 100%;
}
.gallery__text {
  margin-left: 0.5em;
  margin-top: 0;
  font-size: 0.7em;
}

/* ------------------------------------- */
/* Contador CSS */
.counter__container--tilt-number {
  counter-reset: section;
}

.counter__title--tilt-number {
  position: relative;
  background-color: whitesmoke;
  margin-left: 15px;
  padding: 0.5em;
  border-radius: 5px;
}
.counter__title--tilt-number::before {
  counter-increment: section;
  content: counter(section);
  display: block;
  position: absolute;
  top: -4px;
  left: -16px;
  font-size: 2em;
  font-weight: bold;
  color: darkgrey;
  transform: rotate(340deg);
  z-index: -1;
}

/* ------------------------------------- */
/* Animación con @property */
@property --startColor {
  syntax: "<color>";
  initial-value: #EADEDB;
  inherits: false;
}
@property --endColor {
  syntax: "<color>";
  initial-value: #BC70A4;
  inherits: false;
}
.ex1 {
  background: linear-gradient(var(--startColor), var(--endColor));
  animation: gradient 3s linear infinite;
}

@keyframes gradient {
  0%, 100% {
    --startColor: #EADEDB;
    --endColor: #BC70A4;
  }
  50% {
    --startColor: #BC70A4;
    --endColor: #EADEDB;
  }
}
#grad1 {
  height: 200px;
}

/* ------------------------------------- */

/*# sourceMappingURL=styles.css.map */
