body {
  margin: 0 10%;
  padding: 5% 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 21px;
  
}
/* Encabezados */
header {
  margin-bottom: 30px;
}

h1, h2 {
  text-transform: uppercase;
}
h1 {
  font-size: 2em;
  line-height: 1em;
  margin-top: 60px;
}
h2 {
  font-size: 1.5em;
  line-height: 1em;
}
h3 {
  font-size: 1.3em;
  line-height: 1.3em;
}
/* ----------------------------- */

/* Ãndice */
.index nav {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  flex-wrap: wrap;
}
.index a {
  padding: 5px 15px;
  font-size: 1.1em;
  line-height: 1.5em;
  text-underline-offset: 0.2em;
  background-color: whitesmoke;
}
.index a:link {
  color: black;
}
.index a:active {
  color: red;
}
.index a:visited {
  color: purple;
}
.index a:hover {
  font-weight: bold;
}
/* ----------------------------- */

/* Botones */
.button {
  margin: 0;
  padding: 5px 15px;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
}
.back {
  background-color: white;
  color: black;
  border-color: rgb(224, 224, 224);
}
.back:hover {
  background-color: rgb(224, 224, 224);
}
/* ----------------------------- */

/* Accourdion usando la etiqueta details */
details {
  margin-bottom: 15px;
  padding: 5px 15px;
  background-color: whitesmoke;
}
summary {
  cursor: pointer;
  font-weight: bold;
}
/* ----------------------------- */

/* Listas */
ul {
	list-style: none;
}
/* ----------------------------- */

/* Contenedores */
.code {
  background-color: gainsboro;
  margin-bottom: 15px;
	padding: 15px;
	border-radius: 5px;
}

.black {
 background-color: black;
 color: white; 
 font-family: monospace;
 line-height: 20px;
 margin-top: 15px;
}
.gris {
  color: grey;
}
.etiqueta {
  color: dodgerblue;
}
.clase {
  color: goldenrod;
}
.llave {
  color: gold;
}
.funcion {
  color: lemonchiffon;
}
.atributo, .propiedad {
  color: lightskyblue;
}
.valor, .htmlColor {
  color: lightsalmon;
}
.valorCss {
  color: lightgreen;
}
.comentario {
  color: seagreen;
}
.hijo {
  margin-left: 15px;
}
.nieto {
  margin-left: 30px;
}
.biznieto {
  margin-left: 45px;
}
/* ----------------------------- */

/* Estilos para los atajos de teclado */
kbd {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: gainsboro;
  border-radius: 50px;
}
/* ----------------------------- */

/* Paleta de colores HTML */
#paletaColoresHTML {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 15px;
}

#paletaColoresHTML >div {
  width: 20%;
  height: 80px;
  font-size: 12px;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  border: 5px solid whitesmoke;
}

/* ------------------------------------- */

/* Contenido en dos columnas */
.col2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.col2>div {
  width: 47%;
}
/* ------------------------------------- */