body {
  margin: 0 10%;
  padding: 5rem 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header { margin-bottom: 3rem; }

/* Encabezados */
.body-title { 
  margin-top: 0px;
  line-height: 2rem;
  text-transform: uppercase; 
}
.body-subtitle, .body-subtitle__subtitle {
  text-transform: uppercase;
}
  
/* ----------------------------- */

/* Índices */
.index-title, .index-subtitle { text-transform: uppercase; }
.index-subtitle { 
  font-size: 0.83em;
  color: grey;
  font-weight: bold; 
}
.index nav {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  flex-wrap: wrap;
}
.index a {
  padding: 5px 10px;
  font-size: 1.1em;
  line-height: 1.5em;
  text-decoration: none;
  border-radius: 3px;
  background-color: gainsboro;
}
.index a:link { color: black; }
.index a:hover {
  color: white;
  font-weight: bold;
  background-color: teal;
}
/* ----------------------------- */

/* Botones */
.button {
  margin: 0;
  width: fit-content;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
}
.button a { 
  display: block;
  box-sizing: border-box;
  padding: 7px 15px 5px;
  width: 100%;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none; 
  text-transform: uppercase;
}
.back {
  background-color: white;
  border-color: gainsboro;
  margin-bottom: 2rem;
}
.back:hover {
  background-color: teal;
  border-color: teal;
}
.back a { color: black; }
.back:hover a { color: white; }
/* ----------------------------- */

/* Accordion usando la etiqueta details */
details {
  margin-bottom: 15px;
  padding: 5px 15px;
  background-color: gainsboro;
  border-radius: 5px;
}
summary {
  cursor: pointer;
  font-weight: bold;
}
details .details-summary { /* Para prevenir el display block de algunos headings. Va en el elemento HTML, no en el summary.*/
  font-size: 1em;
  line-height: 1em;
  display: inline-flex;
  font-weight: bold;
  margin: 0;
  max-width: 90%;
}
details .details-subtitle {
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: normal;
  text-transform: uppercase;
}
/* ----------------------------- */

/* Listas */
ul { 
  padding-left: 20px;
  list-style: square;
 }
/* ----------------------------- */

/* Contenedores */
.code {
  background-color: gainsboro;
  margin-bottom: 15px;
	padding: 15px;
	border-radius: 5px;
}

.black {
 background-color: black;
 color: white; 
 font-family: monospace;
 font-size: 1rem;
 line-height: 1.2rem;
 margin-top: 15px;
}
/* Clases para las palabras que representan código */
.gris {
  color: grey;
}
.etiqueta {
  color: dodgerblue;
}
.clase {
  color: goldenrod;
}
.llave {
  color: gold;
}
.funcion {
  color: lemonchiffon;
}
.atributo, .propiedad {
  color: lightskyblue;
}
.valor, .htmlColor {
  color: lightsalmon;
}
.valorCss {
  color: lightgreen;
}
.comentario {
  color: seagreen;
}
.hijo {
  margin-left: 15px;
}
.nieto {
  margin-left: 30px;
}
.biznieto {
  margin-left: 45px;
}
/* ----------------------------- */

/* Estilos para los atajos de teclado */
kbd {
  margin: 5px;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  background-color: black;
  border-radius: 50px;
}
/* ----------------------------- */

/* Paleta de colores HTML */
#paletaColoresHTML {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  padding-top: 15px;
}

#paletaColoresHTML>div {
  font-size: 1rem;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid black;
}

/* ------------------------------------- */

/* Contenido en dos columnas */
.col2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.col2>div {
  width: 47%;
}
/* ------------------------------------- */